{% extends "admin/admin-base.html.twig" %}
{% block title %}Update User
{% endblock %}
{% block body %}
    <div class="conatiner-wrapper">
        <div class="p-5 col-6">
            <h3 class="mb-3 font-weight-bold">Update User</h3>
            {{ form(form) }}
            </div>
        </div>

    {% endblock %}
